/*  Global Reset */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
    /* Buradaki border kaldırıldı.   */
    display:flex;
    justify-content:center;
    align-items: end;
  }

  .fa-brands {
    color:white;
    font-size:36px;
    margin-right:30px;
    cursor: pointer;
  }

  .fa-calculator {
    margin-right:15px;
  }
  
/* hocam burda ayrı ayrı fa iconlara margin-right vermem lazımdı kısa halini bulamadım */

  .fa-envelope {
    margin-right:15px;
  }

  .fa-phone {
    margin-right:15px;
  }

  .footer {
    background-color:blue;
    height:40vh;
    width:100%;
    display:flex;
    justify-content: space-between;
  } 

  p {
    color:White;
  }

  .firstSection {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left:50px;
  }

  .justifyContainer {
    margin-top:30px;
  }

  .pLayout {
    font-size:30px;
  }

  .boldP {
    font-weight: bold;

  }

  .secondSection > * {
    margin-bottom:25px;
    font-size:20px;
  }

  .secondSection {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right:50px;
  }

  .href {
    color:white;
  }

  /*  55. satır kodundaki yeri stackoverflow dan baktım. div in altındaki tüm child elementlere margin uyguladım */
  
  